.about-text {
    width: 79%;
	margin: 6em 0  4em;
	background-color: rgba(131, 184, 239, 0.65);
	backdrop-filter: blur(10px);
	border-radius: 4em;
	padding: 2em 2em 2em 2em;
}
.about-text h2, p{
    color: #0e09c9;
}
.about-text h2{
	font-family: lores-22-serif, sans-serif;
	text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: .1em;
	font-size: 5em;
	margin: -1em 0 .5em;
}
.about-text p{
	font-size: 1.2em;
    margin-right: 1em;
    width: 81%;
}
.about-img {
    width:100%;
    overflow: hidden;
    margin-right: -11em;
}
.about-img img{
    width:inherit;
    border-radius: 2em; 
    image-rendering: optimizeSpeed;
}
.email-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 23em;
}
label {
    width: inherit;
}
textarea, input {
    color: aliceblue;
    width: inherit;
    border-style: none;
	background-color: rgba(14, 9, 201, 0.71);
	backdrop-filter: blur(10px);
    border-radius: 2em;
    padding: 1em;
}
button {
    font-family: termina, sans-serif;
	background-color: rgba(131, 184, 239, 0.65);
	backdrop-filter: blur(10px);
    border-style: none;
    padding: 1em;
    border-radius: 2em;
    color: #0e09c9;
    font-size: 1.5em;
    margin-left: 6%;
}
form {
    width: 100%;
}
label {
	color: #0e09c9;
}
.email-form h1{
    font-family: lores-22-serif, sans-serif;
    margin: -1.1em  0 .2em .5em;
    font-size: 7em;
    color: #0e09c9;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: .1em;
}