.about-text {
    width: 79%;
	margin: 6em auto 6em auto;
	background-color: rgba(131, 184, 239, 0.65);
	backdrop-filter: blur(10px);
	border-radius: 4em;
	padding: 2em 2em 2em 6em;
}
.about-text h2, p{
    color: #0e09c9;
}
.about-text h2{
	font-family: lores-22-serif, sans-serif;
	text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: .1em;
	font-size: 5em;
	margin: -1em 0 .5em;
}
.about-text p{
	font-size: 1.2em;
    margin-right: 1em;
    width: 81%;
}
.about-img {
    width: 64%;
    height: 482px;
    position: relative;
}
.about-img div{
    position: absolute;
    height: 26em;
    width:30em;
    margin: auto -21em auto 40px;
    background-color: rgba(14, 9, 201, 0.48);
    backdrop-filter: blur(10px);
    border-radius: 2em;
    max-width: 
}
.about-img img{
    position: absolute;
    bottom: 0;
    left: -43px;
    max-width: 100%;
    overflow: visible;

    image-rendering: optimizeSpeed;
 
}