@keyframes bounce {
	0% {translate: 0 0;animation-timing-function: ease-out}
	40% {translate: 0 -2em;animation-timing-function: ease-in}
	100% {translate: 0 0;}
}
body{
	background-color: Aliceblue;
	font-family: termina, sans-serif;
	font-weight: 600;
	font-style: normal;
}
div.canvas{
	max-width: 80%;
	margin: auto;
	display: block;
}
div.game-background{
	top: 17em;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 56em;
	position: absolute;
}
.game-background div{
	width: inherit;
}
div.grid {
	top : -34px;
	left: -46px;
	width: 110%;
	z-index: -1;
	height: 500px;
	position: absolute;
	background-image: url(grid.svg);
	background-repeat: repeat-x;
	opacity: .1;
}
header{
	z-index: 1;
	top: 0;
	display: flex;
	justify-content: space-between;
	position: block;
	height: 13em;
	padding: 2em 2em -1em;
	margin: 3% 3% 0%;
}
.links{
	list-style: none;
	width: inherit;
	text-decoration: none;
	display: block;
	padding: 0;
}
.links a{
	max-width: 201px;
	min-width: 150px;
	height: 200px;
	display: block;
}
a {
	text-decoration: none;
		text-decoration-color: black;
}
a:hover {
	text-decoration: underline;
}
.folder{
	width: 100%;
}
.horizontal ul{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}
nav{
	width: inherit;
	height: 30%;
	margin: auto 5%;
	padding: 0;
}
.links li{
	margin: auto;
	list-style: none;
	text-align: center;
}
.links h3{
	text-decoration: none;
	text-decoration-color: black;
	top: -13%;
	position:relative;
	margin: 0;
	color: black;
}
.links h3{
	text-decoration: none;
	text-decoration-color: Aliceblue;
	top: -13%;
	position:relative;
	margin: 0;
	color: black;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
}
#news {
	width: 100%;
	margin-top: 6em;
}
.news-item{
	position: relative;
	margin: 11em 0 12em;
}
.news-rec {
	min-width: 10em;
	margin: 6em 9em 6em;
	background-color: #83b8ef;
	opacity: 0.7;
	backdrop-filter: blur(18px);
	border-radius: 4em;
	padding: 4em;
}
.news-rec h2{
	font-family: lores-22-serif, sans-serif;
}
.news-rec p{
	font-family: lores-12, sans-serif; 
}
.news-blob{
	position: absolute;
	top: -7em;
	left: 1em;
}
.news-cheeto{
	position: absolute;
	right: -1em;
	bottom: -10em;
}
.thumbnail{

	margin:  2%;
}
.gallery div{
	height: 233px;
	width: 233px;
	overflow: hidden;
}
.thumbnail img{
	object-fit: cover;
	margin: auto;
	transition: width .3s, height .3s;
	height: 233px;
	width: 233px;
}
.thumbnail img:hover{
	height: 240px;
	width: 240px;
}
/* Large Image Stuff */
.arrow {
	width: 5em;
	margin: auto;
	z-index: 3;
	display:block;
	opacity: .5;
}
.arrow:hover {
	cursor: pointer;
	opacity: 1;
}
#left {
	margin-left: 9em;
}
#right {
	margin-right: 9em;
}
#largeImgHolder{
	top : 0;
	left : 0;
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	flex-direction: column;
	background-color: rgb(255,255,255,.75);
	backdrop-filter: blur(15px);
	z-index: 3;
}
#largeImg{
	max-height: 100%;
	object-fit: contain;
}
.image-text{
	max-width: 65%;
	height: 65%;
	margin: auto;
	z-index: 3;
}
.image-text h3, p{
	margin: 0;
	width:inherit;
	color:black;
}
image-text img{
	z-index: 3;
}
.shadow div{
	box-shadow: -12px 13px 21px;
}
h1{
	font-family: termina, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 4em;
}
.socials {
	list-style: none;
	width: 100%;
	height: 6em;
	padding: 0;
}
.socials div {
	height: inherit;
	width:11em;
	margin: auto;
}
.socials li{
	height: inherit;
	width: 100%;
}
.bounce:hover .inner-bounce {
	animation: bounce .3s;
}
footer{
	height: 11em;
	width: 100%;
	display: flex;
}
#canvas{
	margin: auto;
	image-rendering: pixelated;
	height: inherit;
}
/* Gamemaker Stuff */
 div.gm4html5_div_class {
	 display: flex;
	 height: 31em;
				width: 100%;
                margin: 5em auto 3em;
                padding: 0;
                border: 0;
            }
            div.gm4html5_login {
                padding: 20px;
                position: absolute;
                border: solid 0px #000000;
                background-color: #404040;
                color:#00ff00;
                border-radius: 15px;
                box-shadow: #101010 20px 20px 40px;
            }
            div.gm4html5_cancel_button {
                float: right;
            }
            div.gm4html5_login_button {
                float: left;
            }
            div.gm4html5_login_header {
                text-align: center;
            }