@keyframes bounce {
	0% {translate: 0 0;animation-timing-function: ease-out}
	40% {translate: 0 -2em;animation-timing-function: ease-in}
	100% {translate: 0 0;}
}
@keyframes scroll {
	from {left : -2.89em;}
	to {left :-1em;}
}
@keyframes music-button-ini {
	0% {width: 16em;opacity: 1}
	90% {width: 16em;;opacity: 1;}
	100% {width: 5em;opacity: .25;animation-timing-function: ease-in}
}
@keyframes hovering {
	0% {translate: 0 0;animation-timing-function: ease-in-out}
	50% {translate: 0 1em; animation-timing-function: ease-in-out}
	100% {translate: 0 0; animation-timing-function: ease-in-out}
}
body{
	margin: 0;
	width: 100%;
	background-color: Aliceblue;
	font-family: termina, sans-serif;
	font-weight: 600;
	font-style: normal;
}
div.canvas{
	max-width: 80%;
	margin: auto;
	display: block;
}
.grid-div{
	top : -0;
	left: -0;
	width: 100%;
	z-index: -1;
	height: 500px;
	position: absolute;
	overflow: hidden;
}
div.grid {
	top : 0;
	left: -200px;
	width: 120%;
	z-index: -1;
	height: 500px;
	position: absolute;
	background-image: url(grid.svg);
	background-repeat: repeat-x;
	opacity: .1;
	animation: scroll 3s linear infinite;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 0.55em;
    border-color: #0e09c9;
    margin: 2em 0 2em ;
}
header{
	z-index: 1;
	top: 0;
	display: flex;
	justify-content: space-between;
	position: block;
	height: 13em;
	padding: 2em 2em -1em;
	margin: 3% 3% 0%;
}
.links{
	list-style: none;
	width: inherit;
	text-decoration: none;
	display: block;
	padding: 0;
	margin-top: 3em;
}
.links a{
	max-width: 201px;
	min-width: 150px;
	height: 200px;
	display: block;
}
a {
	text-decoration: none;
		text-decoration-color: black;
}
a:hover {
	text-decoration: underline;
}
.folder{
	width: 100%;
}
.horizontal ul{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}
nav{
	width: inherit;
	height: 23%;
	margin: -4em auto 5%;
	padding: 0;
}
.links li{
	margin: auto;
	list-style: none;
	text-align: center;
}
.links h3{
	text-decoration: none;
	text-decoration-color: black;
	top: -13%;
	position:relative;
	margin: 0;
	color: black;
}

.shadow {
	box-shadow: -12px 13px 21px;
}
h1{
	font-family: termina, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 4em;
}
.socials {
	list-style: none;
	width: 100%;
	height: 6em;
	padding: 0;
}
.socials div {
	height: inherit;
	width:11em;
	margin: auto;
}
.socials li{
	height: inherit;
	width: 100%;
}
.music-button {
	position: fixed;
	background-color: #c32121;
	width: 5em;
	height: 5em;
	right: 1em;
	bottom: 1em;
	border-radius: 9em;
	padding: 1em;
	overflow:hidden;
	animation: music-button-ini 3.5s;
	opacity: .3;
	transition: .25s;
}
.music-button:hover {
	opacity: 1;
	width: 18em;
}
.music-button img{
	height: inherit;
	float: right;
	
}
.music-button h2{
	color:aliceblue;
	position:absolute;
	right: 5.8em;
	scale: 1.3;
	text-align: center;
}
.bounce:hover .inner-bounce {
	animation: bounce .3s;
}
footer{
	height: 11em;
	width: 100%;
	display: flex;
}
#canvas{
	margin: auto;
	image-rendering: pixelated;
	height: inherit;
}