#news-reel {
	width: 100%;
	margin-top: 6em;
}
.news-item{
	position: relative;
	margin: 11em 0 10em;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 0.55em;
    border-color: #000085;
    margin: 2em 0 2em ;
}
.news-rec img{
    display: block;
    max-height: 14em;
    margin: auto;
    border-style:inset;
    border-color: #90c7ff;
    border-width: .5em;
    
}
.news-rec {
	min-width: 10em;
	margin: 6em 9em 1em;
    margin-right: 3em;
	background-color: rgba(131, 184, 239, 0.65);
	backdrop-filter: blur(10px);
	border-radius: 4em;
	padding: 4em;
}
.news-item h2, p{
    color: #000085;
}
.news-rec h2{
	font-family: lores-22-serif, sans-serif;
	text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: .1em;
	font-size: 5em;
	margin: -1.4em 0 .5em;
}
.news-rec p{
	font-family: lores-12, sans-serif; 
	font-size: 2em;
    margin: 0;
}
.date{
	font-family: lores-12, sans-serif; 
    margin: .1em 4em;
    font-size: 1.5em;
    text-align: right;
    opacity: 0.5;
}
.news-face{
	position: absolute;
	scale: 4.2;
	image-rendering: pixelated;
	left: 4em;
	top: -7em;
}
.news-bomb{
	position: absolute;
	right: 1.2em;
	scale: 3;
	image-rendering: pixelated;
	bottom: 3em;
	
}
.mood-text-div{
	left: 1.5em;
	top: -2em;
	width: 10em;
	position: absolute;
	overflow: visible;
}
.mood-text-div div{
	background-color: rgba(0, 0, 133, 0.73);
	backdrop-filter: blur(10px);
	border-radius: 3em;
	padding: 2em;
	padding-right: 3em;
	float: right;
}
.mood-text-div p{
	
	font-family: lores-9-narrow, sans-serif;
	text-align: right;
	font-size: 1.6em;
	color:aliceblue;
    margin: 0;
}
.news-blob{
	position: absolute;
	top: -7em;
	left: 1em;
}